[Unit]
Description=Ombi Service
After=network.target

[Service]
User=ombi
Group=ombi
Type=simple
WorkingDirectory=/opt/Ombi/Release/
ExecStart=/usr/bin/mono /opt/Ombi/Release/Ombi.exe
Restart=always
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
