[Unit]
Description=SickRage Daemon
After=syslog.target network.target

[Service]
User=sickrage
Group=sickrage
Type=simple
GuessMainPID=no
ExecStart=/opt/SickRage/SickBeard.py

[Install]
WantedBy=multi-user.target
