[Unit]
Description=Organizr Daemon
After=network.target

[Service]
User=Organizr
Group=Organizr
Type=simple
ExecStart=/opt/Organizr/Organizr.py
GuessMainPID=no

[Install]
WantedBy=multi-user.target
