# Created by @tazboyz16 at https://github.com/tazboyz16/Ubuntu-Server-Auto-Install
[Unit]
Description=HTPC-Manager Daemon
After=network.target

[Service]
User=HTPCManager
Group=HTPCManager
Type=forking
ExecStart=/usr/bin/python /opt/HTPCManager/Htpc.py
GuessMainPID=no

[Install]
WantedBy=multi-user.target
