[Unit]
Description=Sonarr Daemon
After=syslog.target network.target

[Service]
User=Sonarr
Group=Sonarr
Type=simple
ExecStart=/usr/bin/mono /opt/NzbDrone/NzbDrone.exe -nobrowser
TimeoutStopSec=20
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
