###########################################################
# Created by @tazboyz16 
# This Service File was created at 
# https://github.com/tazboyz16/Ubuntu-Server-Auto-Install
# @ 2017 Copyright
# GNU General Public License v3.0
###########################################################
[Unit]
Description=Sonarr Daemon
After=syslog.target network.target

[Service]
User=Sonarr
Group=Sonarr
Type=simple
ExecStart=/usr/bin/mono /opt/NzbDrone/NzbDrone.exe -nobrowser
TimeoutStopSec=20
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
