[Unit]
Description=Headphones Daemon
After=network.target

[Service]
User=headphones
Group=headphones
Type=forking
ExecStart=/opt/headphones/Headphones.py --daemon --nolaunch
GuessMainPID=no

[Install]
WantedBy=multi-user.target
