[Unit]
Description=SickRage Daemon
After=syslog.target network.target

[Service]
User=Sickrage
Group=Sickrage
Type=simple
GuessMainPID=no
ExecStart=/opt/SickRage/SickBeard.py

[Install]
WantedBy=multi-user.target
