[Unit]
Description=Madsonic Media Server
After=network.target

[Service]
User=root
Group=Madsonic
Type=forking
ExecStart=/etc/init.d/madsonic start
ExecStop=/etc/init.d/madsonic stop
Restart=on-failure
GuessMainPID=no

[Install]
WantedBy=multi-user.target
