[Unit]
Description=Madsonic Media Server

[Service]
User=Madsonic
Group=Madsonic
Type=forking
ExecStart=/usr/share/madsonic/madsonic.sh
Restart=on-failure
GuessMainPID=no

[Install]
WantedBy=multi-user.target
