[Unit]
Description=CouchPotato Service
After=network.target

[Service]
ExecStart=/opt/CouchPotatoServer/CouchPotato.py
Type=simple
User=Couchpotato
Group=Couchpotato

[Install]
WantedBy=multi-user.target
