###########################################################
# Created by @tazboyz16 
# This Service File was created at 
# https://github.com/tazboyz16/Ubuntu-Server-Auto-Install
# @ 2017 Creation
# GNU General Public License v3.0
###########################################################
[Unit]
Description=Mylar Daemon
After=network.target

[Service]
User=mylar
Group=mylar
Type=simple
GuessMainPID=no
ExecStart=/opt/mylar/Mylar.py --nolaunch

[Install]
WantedBy=multi-user.target
