###########################################################
# Created by @tazboyz16
# This Service File was created at
# https://github.com/tazboyz16/Ubuntu-Server-Auto-Install
# @ 2017 Copyright
# GNU General Public License v3.0
###########################################################
[Unit]
Description=LazyLibrarian Daemon
After=network.target

[Service]
User=LazyLibrarian
Group=LazyLibrarian
Type=simple
ExecStart=/opt/LazyLibrarian/LazyLibrarian.py 
GuessMainPID=no

[Install]
WantedBy=multi-user.target
