[Unit]
Description=Ubooquity Daemon
After=syslog.target network.target

[Service]
User=ubooquity
Group=ubooquity
WorkingDirectory= /opt/ubooquity
ExecStart=/usr/bin/java -jar Ubooquity.jar -headless -remoteadmin 

[Install]
WantedBy=multi-user.target
