[Unit]
Description=Ubooquity Daemon
After=syslog.target network.target

[Service]
User=Ubooquity
Group=Ubooquity
WorkingDirectory= /opt/Ubooquity
ExecStart=/usr/bin/java -jar Ubooquity.jar --headless --remoteadmin 

[Install]
WantedBy=multi-user.target
