[Unit]
Description=NZBGet Daemon
Documentation=http://nzbget.net/Documentation
After=network.target

[Service]
User=Nzbget
Group=Nzbget
Type=forking
ExecStart=/opt/Nzbget -D
ExecStop=/opt/Nzbget -Q
ExecReload=/opt/Nzbget -O
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
