[Unit]
Description=Jackett Daemon
After=network.target

[Service]
User=Jackett
Group=Jackett
Type=simple
ExecStart=/usr/bin/mono /opt/Jackett/JackettConsole.exe
TimeoutStopSec=20
Restart=no
RemainAfterExit=yes


[Install]
WantedBy=multi-user.target
